<div class="container">
  <div class="row">
    <h3>Gestion Stages</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Text</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <!-- Button modal creation de stage-->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreateStages">
          Création de stage.
        </button>

        {{!-- modale creation de stage --}}
        <div class="modal fade" id="modalCreateStages" tabindex="-1" aria-labelledby="modalArticlesLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalArticlesLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/stage/" method="post">
                  <div>
                    <label for="titre">Date</label>
                    <input type="text" name="titre" id="titre">
                  </div>
                  <div>
                    <div class="form-floating">
                      <textarea name="text" class="form-control" placeholder="Leave a comment here"
                        id="floatingTextarea"></textarea>
                      <label for="floatingTextarea">Description</label>
                    </div>
                  </div>
                  <button class="btn btn-success" type="submit">Editer</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{!-- Boucle pour chaque stage dans la db un modal d edition est créer --}}
        {{#each dbstage}}
        <tr>
          <th scope="row">{{ inc @index }}</th>
          <td> {{ upper this.titre }} </td>
          <td> {{ truncStr this.text 50 }} </td>
          <td>

            <!-- Button modal edition de stage -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#modalArticles-{{this.idstage}}">
              Open {{ this.idstage }}
            </button>
          </td>
        </tr>

        <!-- Modal edition de stage -->
        <div class="modal fade" id="modalArticles-{{this.idstage}}" tabindex="-1" aria-labelledby="modalArticlesLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalArticlesLabel">{{ this.titre }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/stage/{{ this.idstage }}?_method=PUT" method="post">
                  <div>
                    <label for="titre">Date</label>
                    <input type="text" name="titre" id="titre" value="{{ this.titre }}">
                  </div>
                  <div>
                    <label for="text">Description</label>
                    <input type="text" name="text" value="{{ this.text }}">
                    <button class="btn btn-success" type="submit">Editer</button>
                  </div>
                  <div class="form-floating overflow-scroll">
                    <textarea name="text" class="form-control" placeholder="Leave a comment here"
                      id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">{{this.text}}</label>
                  </div>
                </form>
                <form action="/stage/{{ this.idstage }}?_method=DELETE" method="post">
                  <button class="btn btn-danger" type="submit">Supprimer</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>